<head></head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OurBnb</title>
</head>
<body>
    <%- include('includes/header') %>
        <div class="registerContainer">
            <form action="/userRegister" method="POST">
                Username : 
                <input type="text" name="username"/>      
                Password : 
                <input type="text" name="password"/>        
                Email : 
                <input type="text" name="email"/>
                <input type="submit" value="Register"/>
              </form>
        </div>
    <%- include('includes/footer') %>
</body>