<nav class="mainNav">
    <% if (user ) { %>
        <% if (user.isAdmin ) { %>
            <a href="/admin">Admin</a>
        <%}%>
        <a href="/orders">Orders</a>
    <%}%>
    <a href="/about">About</a>
    <% if (!user) { %>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    <%}%>
    <a href="/">Home</a>
</nav>